@model ForgotPasswordVM

<h2>Forgot Password</h2>
@if (ViewBag.EmailSent != null && ViewBag.EmailSent)
{
    <p>An email with instructions to reset your password has been sent to your registered email address. Please check your inbox.</p>
}
else
{
    <form asp-action="ForgotPassword" method="post">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
}


