@{
    ViewData["Title"] = "Thank You";
}


<h1>Thank you for your purchase!</h1>
<p style="margin-bottom:0px;">Your order has been received and is being processed.</p><p>You will receive an email confirmation shortly with details of your purchase and shipping information.</p>
